[Unit]
Description=APT MQTT Status
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/user/bin/python3 /root/apt-mqtt-status.py

[Install]
WantedBy=multi-user.target